<a href="https://colab.research.google.com/github/Tgentil/introfucao_machine_learning/blob/main/Introdu%C3%A7%C3%A3o_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#pelo longo?
#perna curta?
#faz barulho?
porco1 = [0,1,0]
porco2 = [0,1,1]
porco3 = [1,1,0]

cachorro1 = [0,1,1]
cachorro2 = [1,0,1]
cachorro3 = [1,1,1]

treino = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]
classificacao = [1,1,1,0,0,0] # 1 = porco, 0 = cachorro

In [11]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino, classificacao)

LinearSVC()

In [12]:
novo_animal = [1,1,1]
modelo.predict([novo_animal])

array([0])

In [18]:
animal1 = [1,1,1]
animal2 = [1,1,0]
animal3 = [1,0,1]
animal4 = [0,1,1]
animal5 = [0,0,1]
animal6 = [0,1,0]


teste = [animal1,animal2,animal3,animal4,animal5,animal6,]

In [19]:
previsoes = modelo.predict(teste)
previsoes

array([0, 1, 0, 0, 0, 1])

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(classificacao,previsoes)

0.5

In [21]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [22]:
dados.sample(5)

    home  how_it_works  contact  bought
39     1             0        1       1
31     1             0        1       1
19     0             1        0       0
50     1             1        0       0
26     1             1        1       1

In [23]:
x = dados [["home","how_it_works","contact"]]
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [24]:
y = dados ["bought"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [25]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(x, y)

LinearSVC()

In [26]:
previsoes = modelo.predict(x)
accuracy_score(y, previsoes) * 100

96.96969696969697

In [27]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split

modelo = LinearSVC()
treino_x , teste_x, treino_y, teste_y = train_test_split(x,y)

modelo.fit(treino_x,treino_y)

previsoes = modelo.predict(teste_x)
accuracy_score(teste_y, previsoes) * 100

92.0

In [29]:
print(treino_x.shape)
print(teste_x.shape)

(74, 3)
(25, 3)